#menu {
    position: absolute;
    background: #e6f2ff;
    padding: 25px;
    font-family: 'Georgia', sans-serif;
}

body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }
